@using JPCreations.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Products")|
    @Html.ActionLink("Deactivated Products", "Deactivated","Products")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Product Name")
        </th>
        <th>
            @Html.Label("Category")
        </th>
        <th>
            @Html.Label("Description")
        </th>
        <th>
            @Html.Label("Price")
        </th>
        <th>
            @Html.Label("Photo")
        </th>
        <th>
            @Html.Label("Quantity")
        </th>
    </tr>

@foreach (Product product in ViewBag.Products) {
    <tr>
        <td>
            @product.ProductName
        </td>
        <td>
            @product.Category
        </td>
        <td>
            @product.Description
        </td>
        <td>
            @product.Price
        </td>
        <td>
            @product.Image.Title
        </td>
        <td>
            @product.Quantity
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=product.Id }) |
            @Html.ActionLink("Details", "Details", new { id=product.Id })
        </td>
    </tr>
}

</table>
