@model JPCreations.Models.ProductsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("View Past Orders", "Orders", new {id= Model.Customer.Id} )|
@Html.ActionLink("View Suggested Items","SuggestedItems", new { id=Model.Customer.Id})
@Html.HiddenFor(model => model.Customer.Id)
@Html.HiddenFor(model => model.Customer.FirstName)
@Html.HiddenFor(model => model.Customer.LastName)
@Html.HiddenFor(model => model.Customer.ApplicationUser)
@Html.HiddenFor(model => model.Customer.StreetAddress)
@Html.HiddenFor(model => model.Customer.State)
@Html.HiddenFor(model => model.Customer.City)
@Html.HiddenFor(model => model.Customer.State)
@Html.HiddenFor(model => model.Customer.ZipCode)
@Html.HiddenFor(model => model.Customer.ApplicationId)
<table class="table">
    <tr>
        <th>
            @Html.Label("Product Name")
        </th>
        <th>
            @Html.Label("Category")
        </th>
        <th>
            @Html.Label("Description")
        </th>
        <th>
            @Html.Label("Price")
        </th>

        <th>
            @Html.Label("Image")
        </th>
        <th>
            @Html.Label("Quantity")
        </th>
    </tr>
    @foreach (var product in Model.products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelProduct=>product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelProduct => product.Category)
            </td>
            <td>
                @Html.DisplayFor(modelProduct=> product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelProduct => product.Price)
            </td>
            <td>
                <img src="@Url.Content(product.Image.ImagePath)" width="100" , height="150" />
            </td>
            <td>
            <td>
                @Html.DisplayFor(modelProduct => product.Quantity)
            </td>
            <td>
                | @Html.ActionLink("Product Details", "ProductDetails", new { id = product.Id, custId = Model.Customer.Id })|
                <br />

            </td>
        </tr>
    }



</table>
