@model JPCreations.Models.ProductsViewModel

@{
    ViewBag.Title = "ProductDetails";
}

<h2>Product Details</h2>

<div>
    @Html.HiddenFor(model=>model.Customer.Id)
    @Html.HiddenFor(model=>model.Customer.FirstName)
    @Html.HiddenFor(model=>model.Customer.LastName)
    @Html.HiddenFor(model=>model.Customer.ApplicationUser)
    @Html.HiddenFor(model=>model.Customer.StreetAddress)
    @Html.HiddenFor(model=>model.Customer.State)
    @Html.HiddenFor(model=>model.Customer.City)
    @Html.HiddenFor(model=>model.Customer.State)
    @Html.HiddenFor(model=>model.Customer.ZipCode)
    @Html.HiddenFor(model=>model.Customer.ApplicationId)

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.products[0].ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.products[0].ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.products[0].Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.products[0].Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.products[0].Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.products[0].Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.products[0].Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.products[0].Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.products[0].Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.products[0].Quantity)
        </dd>

        <dt>
            @Html.Label("Product Image")
        </dt>

        <dd>
            <img src="@Url.Content(Model.products[0].Image.ImagePath)" width="200" , height="250" />
        </dd>
        <dt>
            @Html.Label("Buy Product")
        </dt>
        <dd>
            <a href="@Url.Action( "Buy", "Cart", new {id=Model.products[0].Id, custId=Model.Customer.Id})"> Add to cart!</a>
        </dd>
    </dl>
    
</div>
 <p>
        @Html.ActionLink("Back to List", "Index")|
        @Html.ActionLink("Send Request for Custom Item", "Email", new { id = Model.Customer.Id }, "Customers")
 </p>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
