@model JPCreations.Models.ProductsViewModel

@{
    ViewBag.Title = "ProductDetails";
}

<h2>Product Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>

        <dt>
            @Html.Label("Product Image")
        </dt>

        <dd>
            <img src="@Url.Content(Model.Product.Image.ImagePath)" width="200" , height="250" />
        </dd>
    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Product.PurchaseQuantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Product.PurchaseQuantity, " ", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add to cart" class="btn btn-default" />
        </div>
    </div>
}
    <p>
        @Html.ActionLink("Back to List", "Index")|
        @Html.ActionLink("Send Request for Custom Item", "Email", new { id = Model.Customer.Id }, "Customers")
    </p>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
